.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 1625.88px;
    margin: 53px 0px;
}

.right_column {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height: 100%;
}

.right_column>div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 12px;
}

.image {
    max-inline-size: 100%;
    block-size: auto;
    display: block;
}



@media (width > 1180px) {
    .container {
        flex-direction: row;
        gap: 67.84px;
        margin: 112.42px 246.71px 327.68px 47.41px;
        max-height: 933.79px;
    }

    .right_column>div {
        margin: 0px;
        max-width: 395.13px;

    }

    .right_column>div>span {
        max-inline-size: 395.13px;
    }

    .image {
        max-width: 1162.91px;
        max-height: 933.79px;
    }
}