.container {
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.container::-webkit-scrollbar {
    display: none;
}

.ul {
    list-style-type: none;
    gap: 1rem;
    display: flex;
    white-space: nowrap;
    overflow-x: scroll;
}

.li {  
    flex-shrink: 0;
}

.image {
    height: 400px;
    width: auto;
    display: block;
}

@media (min-width: 768px) {
    .image {
        height: 300px;
    }
}


@media (min-width: 1024px) {
    .image {
        height: 821.79px;
    }
}