.container {
    margin: 1rem;
}

.container>div {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1587.96px;
    gap: 0.92rem;
}

.container>p {
    text-align: center;
    margin: 1rem;
}

.image {
    max-inline-size: 306.16px;
    inline-size: 100%;
    block-size: auto;
    margin: 0 auto;
}

@media (width > 540px) {
    .container>div {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width > 1024px) {
    .container {
        margin: 0px 162.98px 115.2px 169.06px;
        max-height: 2487.06px;
    }

    .container>p {
        margin: 7.72rem 0rem 6.55rem 0rem;
    }

    .container>div {
        grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
    }
}