.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 1551.66px;
  margin: 53px 16px 34px 16px;
}

.left_column {
  display: flex;
  flex-direction: column;

}

.text_row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text_row>span:first-child {
  display: block;
  text-align: center;
}

.text_row>span:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.image {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

@media (width >=874px) {
  .container {
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin: 106.03px 16px 69.59px 16px;
  }

  .left_column {
    justify-content: center;
  }

  .text_row>span:first-child {
    text-align: left;
  }
}

@media (width >=1580px) {
  .container {
    gap: 6.69rem;
    margin: 106.03px 225.37px 60.59px 142.96px;
  }

  .left_column {
    flex: 2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: right;
  }

  .text_row {
    flex-direction: row;
    justify-content: space-between;
    height: 4.72rem;
    width: 100%;
  }

  .text_row>span:nth-child(2) {
    max-inline-size: 11.69rem;
  }

  .text_row>span:nth-child(3) {
    max-inline-size: 9.5rem;
  }

}