.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 1363.19px;
    margin: 53px 0px;
}

.left_column {
    flex: 1;
}

.image {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}


.right_column {
    position: relative;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.texts_container {
    max-inline-size: 54.72rem;
    margin-left: 16px;
    margin-right: 16px;
    word-wrap: break-word;
}


@media (width > 1268px) {
    .container {
        flex-direction: row;
        align-items: stretch;
        max-height: 1080.68px;
        margin: 143.61px 0px 243.62px 18.38px;
    }

    .right_column {
        position: relative;
    }

    .texts_container {
        position: absolute;
        max-inline-size: 34.914em;
        bottom: -4%;
    }
}

@media (width > 1720px) {
    .container {
        margin-right: 538.43px;
    }
}