.container {
    display: flex;
    gap: 67.84px;
    padding: 7.026rem 15.42rem 20.48rem 2.96rem;
}


.right_column {
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 0.81rem;
    font-weight: 400;
    font-style: regular;
    line-height: 15px;
    letter-spacing: 0.1rem;
}

.right_column>div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.right_column>div>p {
    max-inline-size: 24.69rem;
}

.image {
    max-inline-size: 100%;
    block-size: auto;
}

@media (width <=1464px) {
    .container {
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem 0px;
    }

    .right_column>div {
        gap: 1rem;
    }

    .right_column>div>p {
        max-inline-size: 100%;
        padding: 0rem 1rem;
    }

    .image {
        width: 100%;
        block-size: auto;
    }
}