.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 106.97px;
  padding: clamp(2rem, 6.627vw, 6.627rem) clamp(4rem, 14.086vw, 14.086rem) clamp(2rem, 3.787vw, 3.787rem) clamp(3rem, 8.935vw, 8.935rem);
  width: 100%;
  height: auto;
}

.left_column {
  display: flex;
  text-align: right;
  align-items: center;
}

.text_row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  text-align: start;
  font-size: 13px;
  font-weight: 400;
  font-style: regular;
  line-height: 15px;
  letter-spacing: 0.1em;
  width: 100%;
}

.text_row>*:first-child {
  text-align: left;
  white-space: nowrap;
}

.text_row>*:nth-child(2) {
  display: flex;
  flex-direction: column;
  text-align: right;
  line-clamp: 6;
  word-wrap: break-word;
  max-inline-size: 16em;
}

.text_row>*:nth-child(3) {
  text-align: right;
  max-inline-size: 11em;
  word-wrap: break-word;
}

.image {
  max-inline-size: 100%;
  block-size: auto;
}

@media (width <=1464px) {
  .container {
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0px;
    padding: 0rem;
  }

  .text_row {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
  }

  .text_row>*:first-child {
    text-align: center;
    width: 100%;
  }

  .text_row>*:nth-child(2) {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-inline-size: 100%;
    width: 100%;
  }

  .text_row>*:nth-child(3) {
    text-align: left;
    max-inline-size: 100%;
    width: 100%;
  }

  .right_column>div {
    gap: 1rem;
  }

  .right_column>div>p {
    max-inline-size: 100%;
    padding: 0rem 1rem;
  }

  .image {
    width: 100%;
    block-size: auto;
  }
}